# Build output
dist/
.astro/

# Dependencies
node_modules/

# Environment files
.env
.env.production

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS metadata
.DS_Store
Thumbs.db
